<div class="w-full card group hover:scale-[1.02] transition-all">
  <a href="{{ product_product.url }}{% if current_variant %}?variant={{ current_variant.id }}{% endif %}" class="relative block w-full xl:w-auto">
    <div class="card-image relative bg-lightgrey overflow-hidden h-full">
    
        {% if current_variant.image %}
          <div class="w-full overflow-hidden aspect-[4/3]">
            <div class="relative w-full h-full pr-6 pb-6">
              <img
                class="w-full h-full object-cover product-card-image"
                src="{{ current_variant.image | img_url: '1024x1024' }}"
                alt="{{ current_variant.image.alt | default: current_variant.title }}">
            </div>
          </div>
        {% elsif product_product.featured_image %}
          <div class="w-full overflow-hidden aspect-[4/3]">
            <div class="relative w-full h-full pr-6 pb-6">
              <img
                class="w-full h-full object-cover product-card-image"
                src="{{ product_product.featured_image | img_url: '1024x1024' }}"
                alt="{{ product_product.featured_image.alt }}">
            </div>
          </div>
        {% else %}
          {{ 'product-1' | placeholder_svg_tag: 'w-full object-cover bg-gray-100' }}
        {% endif %}
    
    </div>

    <div class="card-text">

      {% if include_colour == true %}
      <div class="flex justify-between items-center p-4 flex-wrap">
        <div class="flex flex-col lg:px-4 py-4 w-full">
          <p class="text-gray-700 font-heading font-medium uppercase text-black items-center mb-1">{{ product_product.title }} - {{ current_color }}</p>
          <p class="text-midgrey font-heading">{{ product_product.price | money }}</p>
        </div>

        {% if current_variant.inventory_quantity <= 0 %}
          <a href="{{ product_product.url }}{% if current_variant %}?variant={{ current_variant.id }}{% endif %}" class="relative flex items-center font-heading font-light text-base rounded-[40px] py-[15px] px-[25px] text-center tracking-wide bg-white border-yellow border-2 text-grey uppercase group transition">
            <span class="leading-none mx-auto">Pre-Order</span>
          </a>
        {% else %}
          <a href="{{ product_product.url }}{% if current_variant %}?variant={{ current_variant.id }}{% endif %}" class="relative flex items-center font-heading font-light text-base rounded-[40px] py-[15px] px-[25px] text-center tracking-wide bg-white border-yellow border-2 text-grey uppercase group transition">
            <span class="leading-none mx-auto">Buy Now</span>
          </a>
        {% endif %}
      </div>

    {% else %}

      <div class="flex justify-between items-center p-4 flex-wrap">
        <div class="flex flex-col lg:px-4 py-4">
          <p class="text-gray-700 font-heading font-medium uppercase text-black items-center mb-1">{{ product_product.title }}</p>
          <p class="text-midgrey font-heading">{{ product_product.price | money }}</p>
        </div>
        
        {% if current_variant.inventory_quantity <= 0 %}
          <a href="{{ product_product.url }}{% if current_variant %}?variant={{ current_variant.id }}{% endif %}" class="relative flex items-center font-heading font-light text-base rounded-[40px] py-[15px] px-[25px] text-center tracking-wide bg-white border-yellow border-2 text-grey uppercase group-hover:text-grey group-hover:bg-lightgrey transition">
              <span class="leading-none mx-auto">Pre-Order</span>
          </a>
        {% else %}
          <a href="{{ product_product.url }}{% if current_variant %}?variant={{ current_variant.id }}{% endif %}" class="relative flex items-center font-heading font-light text-base rounded-[40px] py-[15px] px-[25px] text-center tracking-wide bg-white border-yellow border-2 text-grey uppercase group-hover:text-grey group-hover:bg-lightgrey transition">
            <span class="leading-none mx-auto">Buy Now</span>
          </a>
        {% endif %}
      
      </div>

    {% endif %}

    </div>
  </a>
</div>