<div class="w-full card">
  <a href="{{ product_product.url }}{% if current_variant %}?variant={{ current_variant.id }}{% endif %}" class="relative block">
    <div class="card-image relative bg-lightgrey overflow-hidden h-full">
    
        {% if current_variant.image %}
          <div class="w-full overflow-hidden aspect-[4/3]">
            <div class="relative w-full h-full pr-6 pb-6">
              <img
                class="w-full h-full object-cover"
                src="{{ current_variant.image | img_url: 'large' }}"
                alt="{{ current_variant.image.alt | default: current_variant.title }}">
            </div>
          </div>
        {% elsif product_product.featured_image %}
          <div class="w-full overflow-hidden aspect-[4/3]">
            <div class="relative w-full h-full pr-6 pb-6">
              <img
                class="w-full h-full object-cover"
                src="{{ product_product.featured_image | img_url: 'large' }}"
                alt="{{ product_product.featured_image.alt }}">
            </div>
          </div>
        {% else %}
          {{ 'product-1' | placeholder_svg_tag: 'w-full object-cover bg-gray-100' }}
        {% endif %}
    
    </div>

    <div class="card-text">

      {% if include_colour == true %}

      <div class="flex flex-col p-4">
        <p class="text-gray-700 font-heading font-big uppercase font-medium text-black">{{ product_product.title }} - {{ current_color }}</p>
        <p class="text-midgrey font-heading font-big">{{ product_product.price | money }}</p>
      </div>

    {% else %}

      <div class="flex justify-between items-center p-4">
        <div class="flex flex-col">
          <p class="text-gray-700 font-heading font-medium uppercase text-black items-center">{{ product_product.title }}</p>
          <p class="text-midgrey font-heading">{{ product_product.price | money }}</p>
        </div>
        
        <a href="{{ product_product.url }}{% if current_variant %}?variant={{ current_variant.id }}{% endif %}" class="relative flex items-center font-heading text-base rounded-[40px] py-[15px] px-[25px] text-center tracking-wide bg-white border-yellow border-2 text-grey uppercase group transition">
            <span class="leading-none mx-auto">Buy Now</span>
        </a>
      
      </div>

    {% endif %}

    </div>
  </a>
</div>