<!doctype html>
<html>
  <head>
    <title>{{ page_title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="{{ page_description | escape }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.typekit.net/fsd4fhx.css">
    {{ content_for_header }}
    <!-- Header hook for plugins -->

    {{ 'application.css' | asset_url | stylesheet_tag }}
    {{ 'application.js' | asset_url | script_tag }}

    <link rel="stylesheet" href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer" />

    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.2/dist/alpine.min.js" defer></script>
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js" defer></script>


    <style>
      [x-cloak] {
        display: none !important;
      }
    </style>
  </head>
  <body>

    {% section 'header' %}

    <main role="main">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}
    
    <script>
    document.addEventListener('DOMContentLoaded', function() {
        const seeMoreBtn = document.querySelector('.js-see-more-btn');
        const extraUsps = document.querySelectorAll('.js-extra-usp');

        if (seeMoreBtn) {
            seeMoreBtn.addEventListener('click', function() {
                const isShowing = seeMoreBtn.textContent === 'See More';
                seeMoreBtn.textContent = isShowing ? 'See Less' : 'See More';

                if (isShowing) {
                    // Show items with staggered delay
                    extraUsps.forEach((usp, index) => {
                        usp.classList.remove('hidden');
                        setTimeout(() => {
                            usp.classList.add('show');
                        }, index * 150); // 150ms delay between each item
                    });
                } else {
                    // Hide items with staggered delay
                    extraUsps.forEach((usp, index) => {
                        usp.classList.remove('show');
                        setTimeout(() => {
                            usp.classList.add('hidden');
                        }, 300); // Wait for fade out to complete
                    });
                }
            });
        }
    });
    </script>

    {{ 'scripts.js' | asset_url | script_tag }}
    
  </body>
</html>