{% liquid 
    if section.settings.menu.links == blank
        assign main_menu_linklist = linklists[section.settings.menu].links
    else
        assign main_menu_linklist = section.settings.menu.links
    endif
%}

<link rel="stylesheet" href="{{ 'main.css' | asset_url }}" />

<div
  class="absolute top-0 w-full z-10"
  x-data="{ mobileMenuOpen: false }"
  x-cloak>
  <div class="mx-auto px-4 sm:px-6 containerwide">
    <div class="flex lg:justify-center justify-between items-center py-6 px-12 mt-6 md:justify-start md:space-x-10 border-white border-2 rounded-full">
      <!-- STORE NAME / STORE LOGO -->
      <div class="flex justify-start lg:flex-1 truncate">
        <a href="{{ routes.root_url }}" class="max-w-[200px]">
          <img src="{{ 'logo.svg' | asset_url }}" alt="logo" height="100%" width="100%">
        </a>
      </div>

      <!-- Mobile Menu Icon -->
      <div class="flex md:hidden items-center justify-end md:flex-1 space-x-2 pl-6">
        <button
          x-on:click="mobileMenuOpen = true"
          type="button"
          class="bg-black whitespace-nowrap text-base text-white p-2 rounded-full hover:text-gray-900">
          {% render 'icon-menu', icon-colour: "white" %}
        </button>

        <button
          id="openSearch"
          type="button"
          class="bg-black whitespace-nowrap text-base text-white p-2 rounded-full hover:text-gray-900">
          {% render 'icon-search', icon-colour: "white" %}
        </button>

        <a href="{{ routes.cart_url }}" class="bg-black whitespace-nowrap text-base text-white p-2 rounded-full hover:text-gray-900">
          {% render 'icon-shopping-bag' icon-colour: "white" %}
        </a>
      </div>

      <div class="header-right hidden md:flex">

        <ul class="parent flex space-x-2">
          {% for link in linklists.main-menu.links %}
            <li class="group/parent">
              {% render 'button', text: link.title, url: link.url, btn-style: "white" %}
              {% if link.links != blank %}
                <ul class="child hidden group/parent group-hover/parent:block absolute">
                  {% for child_link in link.links %}
                    <li class="group/child">
                      <a href="{{ child_link.url }}" class="relative">{{ child_link.title }}</a>
                      {% if child_link.links != blank %}
                        <ul class="grandchild hidden group-hover/child:block absolute right-0">
                          {% for grandchild_link in child_link.links %}
                            <li>
                              <a href="{{ grandchild_link.url }}">{{ grandchild_link.title }}</a>
                            </li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>


        <!-- CART BUTTON / ACCOUNT LINKS IF ENABLED -->
        <div class="hidden md:flex items-center justify-end md:flex-1 space-x-2 pl-6">
          <button
            id="openSearch"
            type="button"
            class="bg-black whitespace-nowrap text-base text-white p-2 rounded-full hover:text-gray-900">
            {% render 'icon-search', icon-colour: "white" %}
          </button>
          <a href="{{ routes.cart_url }}" class="bg-black whitespace-nowrap text-base text-white p-2 rounded-full hover:text-gray-900">
            {% render 'icon-shopping-bag' icon-colour: "white" %}
          </a>
        </div>

      </div>

      <!-- MOBILE MENU CONTAINER -->
      <div x-show="mobileMenuOpen" class="absolute z-10 top-0 inset-x-0 p-2 transform origin-top-left md:hidden">
        <div class="shadow-lg rounded-lg ring-1 ring-black ring-opacity-5 bg-white w-full">
          <div class="p-5 divide-y-2 divide-gray-50">

            <!-- MOBILE MENU HEADER TITLE PLUS CLOSE BUTTON -->

            <div class="flex items-center justify-between pb-3">
              <div>
                <h1 class="text-lg text-gray-500">{{ section.settings.mobile_menu_title }}</h1>
              </div>
              <div class="-mr-2">
                <button
                  x-on:click="mobileMenuOpen = false"
                  type="button"
                  class="bg-white rounded-md p-2 text-gray-500">
                  {% render 'icon-close' %}
                </button>
              </div>
            </div>

            

            <!-- NAVIGATION LINKS FOR MOBILE MENU -->
            <div class="pt-3">
              <ul class="menu-drawer__menu list-menu" role="list">
                {%- for link in section.settings.menu.links -%}
                  <li>
                    {%- if link.links != blank -%}
                      <details id="Details-menu-drawer-menu-item-{{ forloop.index }}" class="ml-2">
                        <summary class="{% if link.child_active %}active{% endif %}">
                          {{ link.title | escape }}
                        </summary>
                        <div id="link-{{ link.title | escape }}" tabindex="-1">
                          <div class="submenu">
                            <button aria-expanded="true">
                              {{ link.title | escape }}
                            </button>
                            <ul role="list" tabindex="-1">
                              {%- for childlink in link.links -%}
                                <li>
                                  {%- if childlink.links == blank -%}
                                    <a
                                      href="{{ childlink.url }}"
                                      class="{% if childlink.current %}active{% endif %}"
                                      {% if childlink.current %}
                                      aria-current="page"
                                      {% endif %}>{{ childlink.title | escape }}</a>
                                  {%- else -%}
                                    <details id="submenu-{{ forloop.index }}" class="ml-2">
                                      <summary>{{ childlink.title | escape }}</summary>
                                      <div id="childlink-{{ childlink.title | escape }}">
                                        <button aria-expanded="true">{{ childlink.title | escape }}</button>
                                        <ul role="list" tabindex="-1">
                                          {%- for grandchildlink in childlink.links -%}
                                            <li>
                                              <a
                                                href="{{ grandchildlink.url }}"
                                                class="{% if grandchildlink.current %}active{% endif %}"
                                                {% if grandchildlink.current %}
                                                aria-current="page"
                                                {% endif %}>
                                                {{ grandchildlink.title | escape }}</a>
                                            </li>
                                          {%- endfor -%}
                                        </ul>
                                      </div>
                                    </details>
                                  {%- endif -%}
                                </li>
                              {%- endfor -%}
                            </ul>
                          </div>
                        </div>
                      </details>
                    {%- else -%}
                      <a
                        href="{{ link.url }}"
                        class="{% if link.current %}active{% endif %}"
                        {% if link.current %}
                        aria-current="page"
                        {% endif %}>
                        {{ link.title | escape }}
                      </a>
                    {%- endif -%}
                  </li>
                {%- endfor -%}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="w-full absolute top-0 bg-white border hidden" id="searchbar">
    <button
      type="button"
      class="absolute top-0 right-0 mr-5 mt-5 text-gray-500"
      id="closeSearch">
      {% render 'icon-close' %}
    </button>
    <div class="h-40 flex justify-center items-center">
      <form
        action="{{ routes.search_url }}"
        method="get"
        class="flex-auto max-w-[400px]">
        <div class="relative text-gray-500 border">
          <input
            type="search"
            name="q"
            placeholder="Search"
            class="w-full bg-white h-10 px-5 pr-10 rounded-full text-sm focus:outline-none">

            <button type="submit" class="absolute right-0 top-0 mt-2 mr-2 md:mr-5">
              {% render 'icon-search' %}
            </button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  const openSearchBtn = document.getElementById("openSearch")
  const closeSearchBtn = document.getElementById("closeSearch")
  const search = document.getElementById("searchbar")

  openSearchBtn.addEventListener("click", revealSearch);
  closeSearchBtn.addEventListener("click", closeSearch);

  function revealSearch() {
    search.style.display = "block";
  }

  function closeSearch() {
    search.style.display = "none";
  }
</script>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "text",
        "id": "mobile_menu_title",
        "default": "Menu",
        "label": "Mobile Menu Title"
      }, {
        "type": "link_list",
        "id": "menu",
        "default": "main-menu",
        "label": "Heading Navigation Menu"
      }
    ]
  }
{% endschema %}