{% if template.name == 'product' %}
<div class="hero-container mx-auto pt-72 pb-0 left-indent bg-black relative mb-[160px]">
{% else %}
<div class="hero-container rounded mx-auto py-64 left-indent bg-black relative mb-[160px]">
{% endif %}

    {% if section.settings.hero_video %}
        <div class="absolute inset-0 overflow-hidden">
          <video autoplay muted loop playsinline class="w-full h-full object-cover">
            {% comment %} <source src="{{ section.settings.hero_video }}" type="video/mp4"> {% endcomment %}
            <source src="{{ 'mens.mp4' | asset_url }}" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
    {% endif %} 

    <div class="hero-content containercustom relative z-20 font-heading">
        {% if collection.title %}
            <h1 class="text-white pb-2 text-6xl font-heading uppercase">{{ collection.title }}</h1>
        {% elsif product.title %}
            <h1 class="text-white pb-2 text-6xl font-heading uppercase">{{ product.title }}</h1>
        {% else %}
            <h1 class="text-white pb-2 text-6xl font-heading uppercase">{{ section.settings.title }}</h1>
        {% endif %}


        {% if collection.title %}
            <span class="text-yellow uppercase text-3xl">{{  section.settings.sub_title }}</span>
        {% elsif product.title %}
            
        {% else %}
            <span class="text-yellow uppercase text-3xl">{{  section.settings.sub_title }}</span>
        {% endif %}
        
        <div class="mt-16 flex gap-4">
            
            {% for block in section.blocks %}
                {% if block.type == 'button' %}
                    {% render 'button', text: block.settings.button_text, url: block.settings.button_link, btn-style: "white" %}
                {% endif %}
            {% endfor %}
            
        </div>

        {% unless product %}
            <div class="mt-16 ml-2">
                {% render 'icon-arrow-down', icon-colour: "white" %}
            </div>
        {% endunless %}

    </div>

</div>

{% schema %}
{
  "name": "Hero",
  "presets": [
    {
      "name": "Hero"
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Title",
      "label": "H1 Title"
    },
    {
      "type": "text",
      "id": "sub_title",
      "default": "Sub Title",
      "label": "Sub Title"
    },
    {
      "type": "video",
      "id": "hero_video",
      "label": "Background Video"
    }
  ],
  "blocks": [
    {
      "type": "button",
      "name": "Button",
      "settings": [
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text",
          "default": "Click Me"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        }
      ]
    }
  ]
}
{% endschema %}