
<div class="mx-auto sm:px-0 lg:px-8 mb-32 lg:mb-36 bg-lightgrey copy-feature-section relative">

    <div class="containercustom lg:flex">

        <div class="copy w-full lg:w-7/12 pt-32 pb-20 lg:py-40 lg:pr-16">

            <span class="usp-icons flex justify-center items-center w-full h-[100px] max-w-[100px] mb-2">
                            
                {% case section.settings.icon %}
                {% when 'icon-shield' %}
                    {% render 'icon-shield', class: "w-12 h-12" %}
                {% when 'icon-phone-hand' %}
                    {% render 'icon-phone-hand', class: "w-12 h-12" %}
                {% when 'icon-size' %}
                    {% render 'icon-size', class: "w-12 h-12" %}
                {% when 'icon-stars' %}
                    {% render 'icon-stars', class: "w-12 h-12" %}
                {% when 'icon-lock' %}
                    {% render 'icon-lock', class: "w-12 h-12" %}
                {% when 'icon-heart' %}
                    {% render 'icon-heart', class: "w-12 h-12" %}
                {% when 'icon-rosette' %}
                    {% render 'icon-rosette', class: "w-12 h-12" %}
                {% else %}
                    {% render 'icon-phone-hand', class: "w-12 h-12" %}
                {% endcase %}
               
            </span>
            
            <h1 class="fade-in-text text-grey font-heading font-huge font-bold font-huge uppercase text-6xl mb-12">{{ section.settings.heading }}</h1>

            <p>{{ section.settings.content }}</p>

            <span class="inline-block pt-4">
                {% render 'button', text: section.settings.collection.title, url: section.settings.collection.url, btn-style: "white" %}
            </span>
        </div>


        <div class="promotions-right relative w-full lg:w-5/12">
            <div class="h-full left-0 w-full">
                <picture>
                    <source srcset="{{ section.settings.image | img_url: '800x1000', crop: 'center' }}">
                    <source srcset="{{ section.settings.image | img_url: '800x1000', crop: 'center' }}">
                    <img src="{{ section.settings.image | img_url: '800x1000', crop: 'center' }}" 
                        class="relative w-full h-full object-cover" 
                        loading="lazy" 
                        alt="{{ section.settings.image.alt | escape }}">
                </picture> 
            </div>
        </div>

    </div>
</div>



{% schema %}
{
  "name": "Promotion",
  "presets": [
    {
      "name": "Promotion"
    }
  ],
  "settings": [
    {
        "type": "image_picker",
        "id": "image",
        "label": "USP Image"
    },
    {
        "type": "select",
        "id": "icon",
        "label": "Icon",
        "options": [
            {
                "value": "icon-phone-hand",
                "label": "Phone in hand"
            },
            {
                "value": "icon-shield",
                "label": "Shield"
            },
            {
                "value": "icon-size",
                "label": "Size Icon"
            },
            {
                "value": "icon-stars",
                "label": "Stars"
            },
            {
                "value": "icon-heart",
                "label": "Heart"
            },
            {
                "value": "icon-lock",
                "label": "Lock"
            },
            {
                "value": "icon-rosette",
                "label": "Sales Rosette"
            }
        ]
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Heading",
      "label": "Heading"
    },
    {
      "type": "inline_richtext",
      "id": "content",
      "default": "Content",
      "label": "Content"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection Link"
    }, 
  ],
}
{% endschema %}