<div class="usps-container outer-container relative w-full mb-24 lg:mb-36">

    <div class="containercustom relative">

        <h1 class="fade-in-text w-full text-grey font-heading font-huge font-bold uppercase text-6xl mb-12 visible">{{ section.settings.title }}</h1>
        <p class="block">{{ section.settings.sub_title }}</p>
   
        <div class="usp-left fade-in-container lg:pr-16 relative left-indent py-24 lg:py-40 flex flex-wrap lg:w-7/12">

            {% assign block_count = 0 %}
            {% for block in section.blocks %}
                {% if block.type == 'feature' %}
                    <div class="usp w-full border-b-2 border-b-midgrey py-10 text-grey flex">
                        <span class="usp-icons flex justify-center items-center w-full h-[100px] max-w-[100px] mr-4">
                            
                            <picture>
                                <source media="(min-width:767px)" srcset="{{ block.settings.image | img_url: '1200x1800' }}">
                                <img src="{{ block.settings.image | img_url: '1200x1800' }}" class="object-cover h-full md:w-full" alt="{{ section.settings.alt }}" loading="eager" width="1000" height="1400">
                            </picture>
                           
                        </span>
                        <span>
                            <p class="font-heading font-big pb-2 text-grey">{{ block.settings.feature_heading }}</p>
                            <p>{{ block.settings.feature_sub_heading }}</p>
                        </span>
                    </div>
                    {% assign block_count = block_count | plus: 1 %}
                {% endif %}
            {% endfor %}

        </div>

    </div>
    
</div>

{% schema %}
{
  "name": "Features",
  "presets": [
    {
      "name": "Features"
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Title",
      "label": "H1 Title"
    },
    {
      "type": "text",
      "id": "sub_title",
      "default": "Sub Title",
      "label": "Sub Title"
    },
  ],
  "blocks": [
    {
      "type": "feature",
      "name": "Feature",
      "settings": [
        {
            "type": "text",
            "id": "feature_heading",
            "label": "Feature Heading",
            "default": "Heading"
        },
        {
            "type": "text",
            "id": "feature_sub_heading",
            "label": "Feature Sub Heading",
            "default": "Sub Heading"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Feature Image"
        },
      ]
    }
  ]
}
{% endschema %}