<div class="usps-container outer-container bg-lightgrey relative w-full">

    <div class="container flex">
   
        <div class="usp-left left-indent py-72 flex flex-wrap lg:w-6/12">

            {% for block in section.blocks %}
                {% if block.type == 'usp' %}
                    <div class="usp w-full border-b-2 border-b-midgrey py-10 text-grey">
                        <span>
                            {% comment %} {% render 'icon-' | append: block.settings.icon %} {% endcomment %}
                            {% comment %} {% render 'icon-' | concat: block.settings.icon %} {% endcomment %}
                            {% comment %} {{  block.settings.icon }} {% endcomment %}

                            {% comment %} <span>
                                {% assign icon_name = 'icon-' | append: block.settings.icon %}
                                {% render icon_name %}
                            </span> {% endcomment %}

                            {% capture icon_name %}icon-{{ block.settings.icon }}{% endcapture %}
                            {% render icon_name %}
                        </span>
                        <span>
                            <p class="text-2xl font-bold font-heading uppercase pb-2">{{ block.settings.usp_heading }}</p>
                            <p>{{ block.settings.usp_sub_heading }}</p>
                        </span>
                    </div>
                {% endif %}
            {% endfor %}
            
        </div>

        <div class="usp-right absolute right-0 lg:w-5/12 h-full bg-white">
            <div class="h-full mr-10">
                <picture>
                    <source media="(min-width:767px)" srcset="{{ section.settings.image | img_url: '960x' }}">
                    <img src="{{ section.settings.image | img_url: '802x1408' }}" class="object-cover h-full md:w-full" alt="{{ section.settings.alt }}" loading="eager" width="802" height="1408">
                </picture> 
            </div>
        </div>

    </div>
    
</div>

{% schema %}
{
  "name": "USPs",
  "presets": [
    {
      "name": "USPs"
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Title",
      "label": "H1 Title"
    },
    {
      "type": "text",
      "id": "sub_title",
      "default": "Sub Title",
      "label": "Sub Title"
    },
    {
        "type": "image_picker",
        "id": "image",
        "label": "USP Image"
    }, 
  ],
  "blocks": [
    {
      "type": "usp",
      "name": "USP",
      "settings": [
        {
            "type": "text",
            "id": "usp_heading",
            "label": "USP Heading",
            "default": "Heading"
        },
        {
            "type": "text",
            "id": "usp_sub_heading",
            "label": "USP Sub Heading",
            "default": "Sub Heading"
        },
        {
            "type": "select",
            "id": "icon",
            "label": "Icon",
            "options": [
                {
                    "value": "phone-hand",
                    "label": "Phone in hand",
                },
                {
                    "value": "shield",
                    "label": "Shield",
                },
                {
                    "value": "size",
                    "label": "Size Icon",
                },
                {
                    "value": "stars",
                    "label": "Stars",
                }
            ]
        },
      ]
    }
  ]
}
{% endschema %}