<div class="usps-container outer-container relative w-full mb-24 lg:mb-36">

    <div class="containerequal relative fade-in-container">

        {% if section.settings.title %}
            <p class="fade-in-text w-full text-grey font-heading font-huge font-bold uppercase text-6xl mb-6 visible">{{ section.settings.title }}</p>
        {% endif %}
        {% if section.settings.sub_title %}
            <p class="block mb-12">{{ section.settings.sub_title }}</p>
        {% endif %}
   
        <div class="w-full flex gap-4 xl:gap-24 flex-wrap lg:flex-nowrap justify-center">

            
            {% for block in section.blocks %}
                {% if block.type == 'feature' %}

                    <div class="w-full lg:w-1/3 card group max-w-[560px]">
                        <div class="relative block">
                            <div class="feature-card-image relative bg-lightgrey overflow-hidden h-full">
                            
                                <div class="w-full overflow-hidden aspect-[4/3]">
                                    <div class="relative w-full h-full">
                                    <img
                                        class="w-full h-full object-cover"
                                        style="object-position: center;"
                                        src="{{ block.settings.image | img_url: '1024x1024' }}"
                                        alt="{{ block.settings.image.alt | default: current_variant.title }}">
                                    </div>
                                </div>
                            
                            </div>
                        
                            <div class="card-text">
                        
                                <div class="flex justify-between items-center py-4 flex-wrap md:flex-no-wrap">
                                    <div class="flex flex-col py-4">
                                        <p class="text-gray-700 font-heading font-medium uppercase text-black items-center mb-2">{{ block.settings.feature_heading }}</p>
                                        <p class="text-midgrey">{{ block.settings.feature_sub_heading }}</p>
                                    </div>
                                </div>
                        
                            </div>
                        </div>
                    </div>

                {% endif %}
            {% endfor %}

        </div>

    </div>
    
</div>

{% schema %}
{
  "name": "Features",
  "presets": [
    {
      "name": "Features"
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Title",
      "label": "H1 Title"
    },
    {
      "type": "text",
      "id": "sub_title",
      "default": "Sub Title",
      "label": "Sub Title"
    },
  ],
  "blocks": [
    {
      "type": "feature",
      "name": "Feature",
      "settings": [
        {
            "type": "text",
            "id": "feature_heading",
            "label": "Feature Heading",
            "default": "Heading"
        },
        {
            "type": "text",
            "id": "feature_sub_heading",
            "label": "Feature Sub Heading",
            "default": "Sub Heading"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Feature Image"
        },
      ]
    }
  ]
}
{% endschema %}