<div class="usps-container flex mx-auto py-16 px-4 sm:py-64 sm:px-6 lg:px-8 bg-lightgrey relative w-full">
   
    <div class="usp-left lg:w-7/12">

        {% for block in section.blocks %}
            {% if block.type == 'usp' %}
                <div class="usp text-white">
                    <span>
                        {% assign icon_name = 'icon-' | append: block.settings.icon %}
                        {% render icon_name, icon: block.settings.icon %}
                    </span>
                    <span class="text-black">
                        <p>{{ block.settings.usp_heading }}</p>
                        <p>{{ block.settings.usp_sub_heading }}</p>
                    </span>
                </div>
            {% endif %}
        {% endfor %}
        
    </div>

    <div class="usp-right bg-black lg:w-5/12">
        <picture>
            <source media="(min-width:767px)" srcset="{{ section.settings.image | img_url: '960x' }}" width="938" height="684">
            <img src="{{ section.settings.image | img_url: '375x375' }}" class="object-cover m-auto md:w-full md:w-full" alt="{{ section.settings.alt }}" loading="eager" width="375" height="375">
        </picture>
    </div>
    
</div>

{% schema %}
{
  "name": "USPs",
  "presets": [
    {
      "name": "USPs"
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Title",
      "label": "H1 Title"
    },
    {
      "type": "text",
      "id": "sub_title",
      "default": "Sub Title",
      "label": "Sub Title"
    },
    {
        "type": "image_picker",
        "id": "image",
        "label": "USP Image"
    }, 
  ],
  "blocks": [
    {
      "type": "usp",
      "name": "USP",
      "settings": [
        {
            "type": "text",
            "id": "usp_heading",
            "label": "USP Heading",
            "default": "Heading"
        },
        {
            "type": "text",
            "id": "usp_sub_heading",
            "label": "USP Sub Heading",
            "default": "Sub Heading"
        },
        {
            "type": "select",
            "id": "icon",
            "label": "Icon",
            "options": [
                {
                    "value": "phone-hand",
                    "label": "Phone in hand",
                },
                {
                    "value": "shield",
                    "label": "Shield",
                },
                {
                    "value": "size",
                    "label": "Size Icon",
                },
                {
                    "value": "stars",
                    "label": "Stars",
                }
            ]
        },
      ]
    }
  ]
}
{% endschema %}