<div class="usps-container outer-container relative w-full mb-24 lg:mb-36 py-24 lg:py-36 bg-lightgrey">

    <div class="containercustom relative flex flex-wrap">
   
       
            {% for block in section.blocks %}
                {% if block.type == 'faq' %}
                    <div class="faq w-full border-b-2 border-b-midgrey py-10 text-grey flex">
                        <span>
                            <p class="font-heading font-big pb-2 text-grey">{{ block.settings.usp_heading }}</p>
                            <p class="font-heading font-medium mb-2">{{ block.settings.faq_question }}</p>
                            <p>{{ block.settings.faq_answer }}</p>
                        </span>
                    </div>
                    
                {% endif %}
            {% endfor %}
 
      

    </div>
    
    <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "FAQPage",
        "mainEntity": [
            {% for block in section.blocks %}
                {% if block.type == 'faq' %}
                    {
                        "@type": "Question",
                        "name": {{ block.settings.faq_question | json }},
                        "acceptedAnswer": {
                            "@type": "Answer",
                            "text": {{ block.settings.faq_answer | json }}
                        }
                    }{% unless forloop.last %},{% endunless %}
                {% endif %}
            {% endfor %}
        ]
    }
    </script>
</div>

{% schema %}
{
  "name": "FAQ Section",
  "presets": [
    {
      "name": "FAQs"
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Title",
      "label": "H1 Title"
    },
    {
        "type": "image_picker",
        "id": "image",
        "label": "USP Image"
    }, 
  ],
  "blocks": [
    {
      "type": "faq",
      "name": "FAQ",
      "settings": [
        {
            "type": "text",
            "id": "faq_question",
            "label": "FAQ Question",
            "default": "Question"
        },
        {
            "type": "text",
            "id": "faq_answer",
            "label": "FAQ Answer",
            "default": "Answer"
        },
      ]
    }
  ]
}
{% endschema %}