{% unless template == 'page.contact' %}
<!-- Image for mobile -->
<span class="relative">
    <picture class="block lg:hidden relative z-5 w-full mb-24 lg:mb-36">
        <source srcset="{{ section.settings.copy_image | img_url: '600x600', crop: 'center' }}">
        <source srcset="{{ section.settings.copy_image | img_url: '600x600', crop: 'center' }}">
        <img src="{{ section.settings.copy_image | img_url: '600x600', crop: 'center' }}" class="relative" loading="lazy" alt="" width="1200" height="770">
    </picture>
</span>
{% endunless %}

<div class="mx-auto mb-32 lg:mb-36 grid grid-cols-1 lg:grid-cols-2 lg:gap-24 relative containerequal">
    {% if section.settings.image_position == 'right' %}
        <div class="w-full">
            <h1 class="font-heading font-big text-grey pb-4">{{ section.settings.title }}</h1>
            
            {% if section.settings.body != blank %}
                <div class="mb-8 font-light text-grey copy">
                    {{ section.settings.body }}
                </div>
            {% endif %}

            {% if template == 'page.contact' %}
                {% render 'contact-form' %}
            {% endif %}
        </div>

        <div class="w-full">
            <span class="relative h-full fade-in-container">
                {% if section.settings.short_image == true %}
                    <picture class="hidden lg:block relative z-5 h-full max-h-[850px]">
                        <source srcset="{{ section.settings.copy_image | img_url: '800x500', crop: 'center' }}">
                        <source srcset="{{ section.settings.copy_image | img_url: '800x500', crop: 'center' }}">
                        <img src="{{ section.settings.copy_image | img_url: '800x500', crop: 'center' }}" 
                            class="relative w-full h-full object-cover" 
                            loading="lazy" 
                            alt="">
                    </picture>
                {% else %}
                    <picture class="hidden lg:block relative z-5 h-full max-h-[850px]">
                        <source srcset="{{ section.settings.copy_image | img_url: '800x1200', crop: 'center' }}">
                        <source srcset="{{ section.settings.copy_image | img_url: '800x1200', crop: 'center' }}">
                        <img src="{{ section.settings.copy_image | img_url: '800x1200', crop: 'center' }}" 
                            class="relative w-full h-full object-cover" 
                            loading="lazy" 
                            alt="">
                    </picture>
                {% endif %}
            </span>
        </div>
        
        </div>
        
    {% else %}
        
        <div class="w-full">
            <span class="relative h-full fade-in-container">
                {% if section.settings.short_image == true %}
                    <picture class="hidden lg:block relative z-5 h-full max-h-[850px]">
                        <source srcset="{{ section.settings.copy_image | img_url: '800x500', crop: 'center' }}">
                        <source srcset="{{ section.settings.copy_image | img_url: '800x500', crop: 'center' }}">
                        <img src="{{ section.settings.copy_image | img_url: '800x500', crop: 'center' }}" 
                            class="relative w-full h-full object-cover" 
                            loading="lazy" 
                            alt="">
                    </picture>
                {% else %}
                    <picture class="hidden lg:block relative z-5 h-full max-h-[850px]">
                        <source srcset="{{ section.settings.copy_image | img_url: '800x1200', crop: 'center' }}">
                        <source srcset="{{ section.settings.copy_image | img_url: '800x1200', crop: 'center' }}">
                        <img src="{{ section.settings.copy_image | img_url: '800x1200', crop: 'center' }}" 
                            class="relative w-full h-full object-cover" 
                            loading="lazy" 
                            alt="">
                    </picture>
                {% endif %}
            </span>
        </div>
    
        <div class="w-full">
            <h1 class="font-heading font-big text-grey pb-4">{{ section.settings.title }}</h1>
            
            {% if section.settings.body != blank %}
                <div class="mb-8 font-light text-grey copy">
                    {{ section.settings.body }}
                </div>
            {% endif %}

            {% if template == 'page.contact' %}
                <div id="custom-form-wrapper" class="p-6 bg-gray-100 rounded-lg">
                    {{ shop.metafields.shopify_forms.form_330263 }}
                </div>
            {% endif %}
        </div>
    {% endif %}
</div>

{% schema %}
{
    "name": "Copy Section",
    "presets": [
        {
            "name": "Copy Section"
        }
    ],
    "settings": [
        {
            "type": "text",
            "id": "title",
            "default": "Title",
            "label": "H1 Title"
        },
        {
            "type": "richtext",
            "id": "body",
            "default": "<p>Body text</p>",
            "label": "Body Text"
        },
        {
            "type": "image_picker",
            "id": "copy_image",
            "label": "Copy Image"
        },
        {
            "type": "checkbox",
            "id": "show_image",
            "label": "Show Image",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "short_image",
            "label": "Use Short Image?",
            "default": false
        },
        {
            "type": "select",
            "id": "image_position",
            "label": "Image Position",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Image Left"
              },
              {
                "value": "right",
                "label": "Image Right"
              }
            ]
        },
        {
            "type": "header",
            "content": "Contact Form Settings"
        },
        {
            "type": "text",
            "id": "contact_title",
            "label": "Contact Form Title"
        },
        {
            "type": "textarea",
            "id": "contact_content",
            "label": "Contact Form Content"
        },
        {
            "type": "text",
            "id": "contact_mail",
            "label": "Contact Email"
        },
        {
            "type": "text",
            "id": "contact_telephone",
            "label": "Contact Telephone"
        },
        {
            "type": "text",
            "id": "contact_insta_handle",
            "label": "Instagram Handle"
        }
    ]
}
{% endschema %}