<div class="mx-auto mb-32 lg:mb-36 grid grid-cols-1 lg:grid-cols-2 gap-24 relative containerequal">
    {% if section.settings.image_position == 'right' %}
        <div class="w-full">
            <h1 class="font-heading font-big text-grey pb-2">{{ section.settings.title }}</h1>
            
            {% if section.settings.body != blank %}
                <div class="mb-8 font-light text-grey copy">
                    {{ section.settings.body }}
                </div>
            {% endif %}
        </div>

        <div class="w-full">
            <span class="relative">
                <span class="relative">
                    <picture class="block lg:hidden relative z-5 w-full">
                        <source srcset="{{ section.settings.copy_image | img_url: '600x400', crop: 'center' }}">
                        <source srcset="{{ section.settings.copy_image | img_url: '600x400', crop: 'center' }}">
                        <img src="{{ section.settings.copy_image | img_url: '600x400', crop: 'center' }}" class="relative" loading="lazy" alt="" width="1200" height="770">
                    </picture>
                </span>

                <picture class="hidden lg:block relative z-5">
                    <source srcset="{{ section.settings.copy_image | img_url: '600x800', crop: 'center' }}">
                    <source srcset="{{ section.settings.copy_image | img_url: '600x800', crop: 'center' }}">
                    <img src="{{ section.settings.copy_image | img_url: '600x800', crop: 'center' }}" class="relative" loading="lazy" alt="" width="770" height="770">
                </picture>
            </span>
        </div>
        </div>
        
    {% else %}
        
        <div class="w-full">
            <span class="relative">
                <span class="relative">
                    <picture class="block lg:hidden relative z-5 w-full">
                        <source srcset="{{ section.settings.copy_image | img_url: '600x400', crop: 'center' }}">
                        <source srcset="{{ section.settings.copy_image | img_url: '600x400', crop: 'center' }}">
                        <img src="{{ section.settings.copy_image | img_url: '600x400', crop: 'center' }}" class="relative" loading="lazy" alt="" width="1200" height="770">
                    </picture>
                </span>

                <picture class="hidden lg:block relative z-5">
                    <source srcset="{{ section.settings.copy_image | img_url: '600x800', crop: 'center' }}">
                    <source srcset="{{ section.settings.copy_image | img_url: '600x800', crop: 'center' }}">
                    <img src="{{ section.settings.copy_image | img_url: '600x800', crop: 'center' }}" class="relative" loading="lazy" alt="" width="770" height="770">
                </picture>
            </span>
        </div>

        <div class="w-full">
            <h1 class="font-heading font-big text-grey pb-2">{{ section.settings.title }}</h1>
            
            {% if section.settings.body != blank %}
                <div class="mb-8 font-light text-grey copy">
                    {{ section.settings.body }}
                </div>
            {% endif %}
        </div>
    {% endif %}
</div>

{% schema %}
{
    "name": "Copy Section",
    "presets": [
        {
            "name": "Copy Section"
        }
    ],
    "settings": [
        {
            "type": "text",
            "id": "title",
            "default": "Title",
            "label": "H1 Title"
        },
        {
            "type": "html",
            "id": "body",
            "default": "Body text",
            "label": "Body Text"
        },
        {
            "type": "image_picker",
            "id": "copy_image",
            "label": "Copy Image"
        },
        {
            "type": "checkbox",
            "id": "show_image",
            "label": "Show Image",
            "default": true
        },
        {
            "type": "select",
            "id": "image_position",
            "label": "Image Position",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Image Left"
              },
              {
                "value": "right",
                "label": "Image Right"
              }
            ]
        }
    ],
}
{% endschema %}