{% if template.name == 'product' %}
<div class="hero-container mx-auto pt-44 lg:pt-72 pb-0 left-indent bg-black relative">
{% elsif template.name == 'collection' %}
<div class="hero-container lg:h-[600px] flex items-center pt-48 pb-10 lg:pt-[250px] rounded mx-auto left-indent bg-black relative object-cover mb-24 lg:mb-36" {% if section.settings.hero_image %}style="background-image: url('{{ section.settings.hero_image | img_url: '1920x1080' }}'); background-color: rgba(0,0,0,0.4); background-blend-mode: multiply;"{% endif %}>
{% elsif template.name == 'cart' %}
<div class="hero-container lg:h-[600px] flex items-center pt-48 pb-10 lg:pt-[250px] mx-auto left-indent bg-black relative object-cover mb-24 lg:mb-36" {% if section.settings.hero_image %}style="background-image: url('{{ section.settings.hero_image | img_url: '1920x1080' }}'); background-color: rgba(0,0,0,0.4); background-blend-mode: multiply;"{% endif %}>
{% elsif template.name == 'page' %}
  <div class="hero-container lg:h-[600px] flex items-center pt-48 pb-10 lg:pt-[250px] mx-auto left-indent bg-black relative object-cover mb-24 lg:mb-36" {% if section.settings.hero_image %}style="background-image: url('{{ section.settings.hero_image | img_url: '1920x1080' }}'); background-color: rgba(0,0,0,0.4); background-blend-mode: multiply;"{% endif %}>
{% else %}
<div class="hero-container h-screen max-h-[1000px] flex items-center pt-36 lg:pt-[150px] rounded mx-auto left-indent bg-black relative mb-24 lg:mb-36">
{% endif %}

    {% if section.settings.hero_video %}
        <div class="absolute inset-0 overflow-hidden">
          <video autoplay muted loop playsinline class="w-full h-full object-cover hero-video">
            {% comment %} <source src="{{ section.settings.hero_video }}" type="video/mp4"> {% endcomment %}
            <source src="{{ 'hero.mp4' | asset_url }}" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
    {% endif %} 
    

    <div class="hero-content containercustom relative font-heading heading">
        {% if collection.title %}
            <p class="text-white pb-2 font-heading font-huge uppercase">{{ collection.title }}</p>
        {% elsif product.title %}
            <p class="text-white pb-2 font-heading font-huge uppercase">{{ product.title }}</p>
        {% else %}
            <p class="text-white pb-2 font-heading font-huge uppercase">{{ section.settings.title }}</p>
        {% endif %}


        {% if collection.title %}
            <span class="text-yellow uppercase text-xl lg:text-3xl font-heading">{{  section.settings.sub_title }}</span>
        {% elsif product.title %}
            
        {% else %}
            <span class="text-yellow uppercase text-xl lg:text-3xl font-heading">{{  section.settings.sub_title }}</span>
        {% endif %}
        
        <div class="mt-16 flex gap-4">
            
            {% for block in section.blocks %}
                {% if block.type == 'button' %}
                    {% render 'button', text: block.settings.button_text, url: block.settings.button_link, btn-style: "white" %}
                {% endif %}
            {% endfor %}
            
        </div>

        {% unless product %}
            <div class="my-16 ml-2 cursor-pointer" id="scroll-arrow">
                {% render 'icon-arrow-down', icon-colour: "white" %}
            </div>
        {% endunless %}

    </div>

</div>

<script>
document.getElementById('scroll-arrow').addEventListener('click', function() {
    const heroSection = this.closest('.hero-container');
    const heroHeight = heroSection.offsetHeight;
    const offset = -80; // Adjust this value based on your header height
    
    window.scrollTo({
        top: heroHeight + offset,
        behavior: 'smooth'
    });
});
</script>

{% schema %}
{
  "name": "Hero",
  "presets": [
    {
      "name": "Hero"
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Title",
      "label": "H1 Title"
    },
    {
      "type": "text",
      "id": "sub_title",
      "default": "Sub Title",
      "label": "Sub Title"
    },
    {
      "type": "image_picker",
      "id": "hero_image",
      "label": "Hero Image"
    },
    {
      "type": "video",
      "id": "hero_video",
      "label": "Background Video"
    }
  ],
  "blocks": [
    {
      "type": "button",
      "name": "Button",
      "settings": [
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text",
          "default": "Click Me"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        }
      ]
    }
  ]
}
{% endschema %}